<!-- $Id -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>ECSHOP 管理中心 - 添加订单 </title>
        <meta name="robots" content="noindex, nofollow" />
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <link href="public/css/general.css" rel="stylesheet" type="text/css" />
            <link href="public/css/main.css" rel="stylesheet" type="text/css" />
            
    </head>
    <body>

        <h1>
            <span class="action-span1"><a href="index.php?p=back&c=index&a=main">ECSHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 添加订单 </span>
       
        </h1>
             <div style="clear:both"></div>
        <script type="text/javascript" src="public/js/utils.js"></script><script type="text/javascript" src="public/js/validator.js"></script>
        <form name="theForm" action="index.php?p=back&c=orderlist&a=addtwo" method="post" onsubmit="return checkUser()">
            <div class="main-div" style="padding: 15px">
                <label><input type="text" name="anonymous" value="" id="user_useridname" /> 按会员编号或会员名搜索</label>
                <p><strong>注意：</strong>搜索结果只显示前20条记录，如果没有找到相应会员，请更精确地查找。另外，如果该会员是从论坛注册的且没有在商城登录过，也无法找到，需要先在商城登录。</p>
            </div>
            <div style="text-align:center">
                <p>
                    <input name="submit" type="submit" class="button" value="搜索" />
                    <input type="button" value="取消" class="button" onclick="location.href = 'index.php?p=back&c=orderlist&a=list'" />
                </p>
            </div>
        </form>


       
                    </body>
                    </html>
