<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>ECSHOP 管理中心 - 订单列表 </title>
        <meta name="robots" content="noindex, nofollow" />
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <link href="public/css/general.css" rel="stylesheet" type="text/css" />
            <link href="public/css/main.css" rel="stylesheet" type="text/css" />
           
    </head>
    <body>

        <h1>
            <span class="action-span"><a href="index.php?p=back&c=orderlist&a=query">订单查询</a></span>
            <span class="action-span1"><a href="index.php?p=back&c=index&a=main">ECSHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 订单列表 </span>
            <div style="clear:both"></div>
        </h1>
        <script type="text/javascript" src="public/js/utils.js"></script><script type="text/javascript" src="public/images/js/listtable.js"></script><!-- 订单搜索 -->
        <div class="form-div">
            <form action="javascript:searchOrder()" name="searchForm">
                <img src="public/images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
                订单号<input name="order_sn" type="text" id="order_sn" size="15">
                    收货人<input name="consignee" type="text" id="consignee" size="15">
                        订单状态    <select name="status" id="status">
                            <option value="-1">请选择...</option>
                            <option value="0" selected>待确认</option><option value="100">待付款</option><option value="101">待发货</option><option value="102">已完成</option><option value="1">付款中</option><option value="2">取消</option><option value="3">无效</option><option value="4">退货</option><option value="6">部分发货</option>    </select>
                        <input type="submit" value=" 搜索 " class="button" />
                        <a href="order.php?act=list&composite_status=0">待确认</a>
                        <a href="order.php?act=list&composite_status=100">待付款</a>
                        <a href="order.php?act=list&composite_status=101">待发货</a>
                        </form>
                        </div>

                        <!-- 订单列表 -->
                        <form method="post" action="order.php?act=operate" name="listForm" onsubmit="return check()">
                            <div class="list-div" id="listDiv">

                                <table cellpadding="3" cellspacing="1">
                                    <tr>
                                        <th>
                                           订单号   </th>
                                        <th>下单时间<img src="public/images/sort_desc.gif"></th>
                                        <th>收货人</th>
                                        <th>总金额</th>
                                        <th>应付金额</th>
                                        <th>订单状态</th>
                                        <th>操作</th>                                       
                                        <?php foreach($list as $item):?>
                                        <tr>
                                            <td valign="top" nowrap="nowrap"><?php echo $item['order_num'];?></td>
                                            <td align="center"><?php echo $item['order_time'];?></td>
                                            <td  align="center" valign="top"><a href="mailto:ecshop@ecshop.com"><?php echo $item['consignee'];?></a> [TEL: 010-25851234] <br /><?php echo $item['address'];?></td>
                                            <td align="right" valign="top" nowrap="nowrap"><?php echo $item['payable'];?></td>
                                            <td align="right" valign="top" nowrap="nowrap"><?php echo $item['payable'];?></td>
                                            <td align="center" valign="top" nowrap="nowrap"><?php echo $item['order_status'];?></td>
                                            <td align="center" valign="top"  nowrap="nowrap">
                                                <a href="index.php?p=back&c=orderlist&a=query">查看</a>
                                            </td>
                                        </tr>
                                        <?php endforeach;?>
                                </table>

                                <!-- 分页 -->
                                <table id="page-table" cellspacing="0">
                                    <tr>
                                        <td align="right" nowrap="true">
                                            <!-- $Id: page.htm 14216 2008-03-10 02:27:21Z testyang $ -->
<!--                                            <div id="turn-page">
                                                总计  <span id="totalRecords">19</span>
                                                个记录分为 <span id="totalPages">2</span>
                                                页当前第 <span id="pageCurrent">1</span>
                                                页，每页 <input type='text' size='3' id='pageSize' value="15" onkeypress="return listTable.changePageSize(event)" />
                                                <span id="page-link">
                                                    <a href="javascript:listTable.gotoPageFirst()">第一页</a>
                                                    <a href="javascript:listTable.gotoPagePrev()">上一页</a>
                                                    <a href="javascript:listTable.gotoPageNext()">下一页</a>
                                                    <a href="javascript:listTable.gotoPageLast()">最末页</a>
                                                    <select id="gotoPage" onchange="listTable.gotoPage(this.value)">
                                                        <option value='1'>1</option><option value='2'>2</option>          </select>
                                                </span>
                                            </div>-->
                                        </td>
                                    </tr>
                                </table>

                            </div>
                           
                        </form>
                        
                                    </body>
                                    </html>
